In [2]:
import psycopg2

In [0]:
# Establishing the connection
connection = psycopg2.connect(
    host="localhost",
    port=5432,
    dbname="postgres",
    user="postgres",
    password="pass123",
)

In [1]:
# Executing a SQL query
cursor.execute('SELECT version();')

In [ ]:
result = cursor.fetchone()
print(result)

### Creating the Table with IF NOT EXISTS

In [18]:
query = """CREATE TABLE IF NOT EXISTS employees (
    id SERIAL PRIMARY KEY,
    name VARCHAR(50),
    department VARCHAR(50),
    salary INTEGER
);"""

In [19]:
cursor.execute(query)
connection.commit()

### Inserting Data

In [20]:
# SQL query to insert data
insert_query = """
INSERT INTO employees (name, department, salary) VALUES (%s, %s, %s)
"""
employee_data = ('John Doe', 'Engineering', 75000)

In [21]:
cursor.execute(insert_query, employee_data)
connection.commit()

### Updating Data

In [22]:
# SQL query to update data
update_query = """
UPDATE employees SET salary = %s WHERE name = %s
"""
new_salary_data = (80000, 'John Doe')

In [23]:
cursor.execute(update_query, new_salary_data)
connection.commit()

### View records

In [24]:
select_query = """SELECT * FROM employees;"""

In [25]:
import pprint
cursor.execute(select_query)

rows = cursor.fetchall()
for row in rows:
    pprint.pprint(row)

(1, 'John Doe', 'Engineering', 80000)

### Dataframe to SQL

In [27]:
import pandas as pd
from sqlalchemy import create_engine

In [28]:
engine = create_engine('postgresql+psycopg2://postgres:pass123@localhost:5432/postgres')

### Create Dataframe

In [30]:
# Example DataFrame
df = pd.DataFrame({
    'name': ['Pamela Anderson', 'Jane Doe'],
    'department': ['Engineering', 'Human Resources'],
    'salary': [75000, 65000]
})

In [32]:
df.to_sql('employees', engine, if_exists='replace', index=False)

In [ ]:
# Closing the cursor and connection
cursor.close()
connection.close()