In [1]:
import psycopg2

In [2]:
# Establishing the connection
connection = psycopg2.connect(
    host="localhost",
    port=5432,
    dbname="postgres",
    user="postgres",
    password="tele1234",
)

In [3]:
# Create a cursor object using the cursor() method
cursor = connection.cursor()

In [4]:
# Executing a SQL query
cursor.execute('SELECT version();')

In [5]:
result = cursor.fetchone()
print(result)

('PostgreSQL 16.2 (Debian 16.2-1.pgdg120+2) on x86_64-pc-linux-gnu, compiled by gcc (Debian 12.2.0-14) 12.2.0, 64-bit',)

### Creating the Table with IF NOT EXISTS

In [27]:
query = """CREATE TABLE IF NOT EXISTS employees (
    id SERIAL PRIMARY KEY,
    name VARCHAR(50),
    department VARCHAR(50),
    salary INTEGER
);"""

In [28]:
cursor.execute(query)
connection.commit()

### Inserting Data

In [29]:
# SQL query to insert data
insert_query = """
INSERT INTO employees (name, department, salary) VALUES (%s, %s, %s)
"""
employee_data = ('John Doe', 'Engineering', 75000)

In [30]:
cursor.execute(insert_query, employee_data)
connection.commit()

### Updating Data

In [31]:
# SQL query to update data
update_query = """
UPDATE employees SET salary = %s WHERE name = %s
"""
new_salary_data = (80000, 'John Doe')

In [32]:
cursor.execute(update_query, new_salary_data)
connection.commit()

### View records

In [33]:
select_query = """SELECT * FROM employees;"""

In [34]:
import pprint
cursor.execute(select_query)

rows = cursor.fetchall()
for row in rows:
    pprint.pprint(row)

(1, 'John Doe', 'Engineering', 80000)
(2, 'John Doe', 'Engineering', 80000)

### Dataframe to SQL

In [35]:
import pandas as pd
from sqlalchemy import create_engine

In [36]:
engine = create_engine('postgresql+psycopg2://postgres:pass123@localhost:5432/postgres')

### Create Dataframe

In [37]:
# Example DataFrame
df = pd.DataFrame({
    'name': ['Pamela Anderson', 'Jane Doe'],
    'department': ['Engineering', 'Human Resources'],
    'salary': [75000, 65000]
})

In [0]:
df.to_sql('employees', engine, if_exists='replace', index=False)

In [20]:
# Closing the cursor and connection
cursor.close()
connection.close()